@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0 10%;
    background: #fff;
    margin: auto;
}

nav {
    padding-top: 2rem;
}

nav h1 {
    color: #4E5150;
    font-size: 2.2rem;
}

main {
    display: flex;
    gap: 2rem;
    align-items: start;
    justify-content: space-between;
    padding-bottom: 5rem;
}

main>* {
    min-width: 40%;
}

main .form .form-title {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

main .form .form-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 1rem;
}

main .form .form-group label {
    margin-bottom: 0.5rem;
    color: #4E5150;
    font-size: .9rem;
}

main .form .input-div {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.input-div i {
    position: absolute;
    top: 50%;
    left: .8rem;
    transform: translate(0, -50%);
}

.input-div input {
    width: 100%;
    padding: .8rem;
    border: 1px solid #828282;
    border-radius: .6rem;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 2.5rem;
}

.input-div select {
    width: 100%;
    padding: .8rem;
    border: 1px solid #828282;
    border-radius: .6rem;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 2.5rem;
    appearance: none;
    padding-right: 2.5rem;
    background: transparent;
    cursor: pointer;
}

.input-div .select-down-arrow {
    width: min-content;
    left: auto;
    right: .8rem;
    background-color: #e0e0e0;
    padding: .3rem;
    border-radius: .3rem;
    z-index: -1;
}

.input-group {
    display: flex;
    gap: 1rem;
}

.input-group>* {
    width: 100%;
}


.input-div input[type='checkbox'] {
    width: auto;
    margin-right: .5rem;
    width: 1.2rem;
    height: 1.2rem;
    accent-color: #F2994A;
}

.input-div label {
    user-select: none;
}

.form>button {
    width: 35%;
    min-width: 125px;
    padding: 1rem 0;
    border: none;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1rem;
    background-color: #F2994A;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: calc(100% - max(35%, 125px));
}

.sidebar {
    width: 40%;
    min-height: 300px;
    background-color: #F2F2F2;
    padding: 2rem;
    border-radius: 1rem;
    margin-top: 5rem;
}

.item {
    width: 100%;
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.item .img-div {
    width: 60%;
    aspect-ratio: 1;
    border-radius: 1rem;
    overflow: hidden;
}

.item .img-div img {
    width: 100%;
    max-width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}

.item .item-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item .item-details .item-name {
    font-size: 1.2rem;
    color: #4E5150;
    margin-bottom: .5rem;
}

.item .item-details .prices {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.item .item-details .prices .discount-price {
    font-size: 1.2rem;
    color: #F2994A;
}

.item .item-details .prices .price {
    font-size: 1rem;
    color: #4E5150;
}

.item .item-quantity {
    width: min(100%, 200px);
    padding: .5rem 1rem;
    border-radius: .8rem;
    border: 1px solid #4E5150;
    display: flex;
    gap: .5rem;
    justify-content: space-between;
}

.item .item-quantity .quantity-btn {
    width: 1.6rem;
    font-size: 1rem;
    border: 0;
    outline: 0;
    background-color: #e0e0e0;
    color: #828282;
    padding: .3rem;
    border-radius: .3rem;
    cursor: pointer;
}

.item .item-details .quantity {
    font-size: 1.2rem;
    font-weight: 500;
}

.pt-4 {
    padding-top: 4rem;
}

.shipping-charge,
.total-charge {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.total-charge {
    padding-top: .8rem;
}


footer {
    text-align: center;
    padding-bottom: 0.5rem;
    color: #BDBDBD;
}

footer a {
    color: #F2994A;
    text-decoration: none;
}

@media (max-width: 1000px) {
    body {
        padding: 0 2rem;
    }

    main {
        gap: 2rem;
    }
}

@media screen and (max-width: 850px) {
    main {
        width: 60%;
        margin: auto;
        flex-direction: column;
        align-items: center;
    }

    .form {
        width: 100%;
        order: 2;
    }

    .sidebar {
        order: 1;
        width: 100%;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px) {

    body {
        padding: 0;
    }

    nav {
        padding-top: 1rem;
        width: 90%;
        margin: auto;
    }

    nav h1 {
        font-size: 1.8rem;
    }

    main {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {


    .sidebar {
        padding: 1rem;
    }

    .item .item-details .item-name {
        font-size: 1rem;
    }

    .item .item-details .prices .discount-price {
        font-size: 1rem;
    }

    .item .item-quantity {
        width: min(100%, 150px);
        font-size: 1.2rem;
        padding: .3rem .5rem;
    }

    .item .item-quantity .quantity-btn {
        width: 1.2rem;
        font-size: .8rem;
    }

    .item .item-details .quantity {
        font-size: 1rem;
    }
}