@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e9fb;
}

.rating-card {
  width: min(95vw, 600px);
  height: 100%;
  background-color: #fff;
  padding: 2rem 4rem;
  border-radius: 1rem;

  .title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: #293142;
    margin-bottom: 1rem;
  }

  .stars {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;

    .star {
      width: 15%;
      aspect-ratio: 1;
      clip-path: polygon(
        29.3505% 25.69%,
        7.0205% 28.9275%,
        6.625% 29.008%,
        6.02629% 29.1669%,
        5.48049% 29.4819%,
        5.04333% 29.9208%,
        4.60617% 30.3597%,
        4.29332% 30.9067%,
        4.13672% 31.506%,
        3.98013% 32.1054%,
        3.9854% 32.7355%,
        4.152% 33.3322%,
        4.3186% 33.9288%,
        4.64056% 34.4705%,
        5.085% 34.902%,
        21.262% 50.6485%,
        17.447% 72.891%,
        17.4015% 73.276%,
        17.3649% 73.8952%,
        17.4934% 74.5131%,
        17.7741% 75.0663%,
        18.0547% 75.6195%,
        18.4773% 76.0881%,
        18.9987% 76.4243%,
        19.52% 76.7605%,
        20.1213% 76.952%,
        20.741% 76.9794%,
        21.3607% 77.0067%,
        21.9766% 76.8689%,
        22.5255% 76.58%,
        42.4965% 66.08%,
        62.422% 76.58%,
        62.772% 76.741%,
        63.3497% 76.9686%,
        63.9776% 77.0383%,
        64.5911% 76.9432%,
        65.2047% 76.848%,
        65.7819% 76.5913%,
        66.2636% 76.1994%,
        66.7452% 75.8076%,
        67.1139% 75.2946%,
        67.3319% 74.7132%,
        67.5499% 74.1318%,
        67.6093% 73.5029%,
        67.504% 72.891%,
        63.6855% 50.6485%,
        79.8695% 34.8985%,
        80.1425% 34.601%,
        80.5325% 34.1207%,
        80.7882% 33.5456%,
        80.8835% 32.9343%,
        80.9789% 32.323%,
        80.9105% 31.6973%,
        80.6853% 31.1211%,
        80.4601% 30.5448%,
        80.0862% 30.0385%,
        79.6017% 29.6538%,
        79.1172% 29.2691%,
        78.5393% 29.0197%,
        77.927% 28.931%,
        55.597% 25.69%,
        45.615% 5.46%,
        45.3262% 4.87387%,
        44.879% 4.3803%,
        44.3242% 4.03517%,
        43.7693% 3.69003%,
        43.1289% 3.50711%,
        42.4755% 3.50711%,
        41.8221% 3.69003%,
        41.1817% 4.03517%,
        40.6268% 4.3803%,
        40.072% 4.87387%,
        39.336% 5.46%
      );
      background-color: #e3e8ef;
      &.active {
        background-color: #fbcc15;
      }

      @media screen and (max-width: 500px) {
        width: 20%;
      }
    }
  }

  @media screen and (max-width: 600px) {
    padding: 2rem;
  }
  .message {
    width: 100%;
    height: 80px;
    text-align: center;
    color: #66686e;
    padding-bottom: 1rem;

    @media screen and (max-width: 468px) {
      height: auto;
    }
  }
}
