@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  background-color: $dark-blue;
  font-weight: 800;
}
